<div id="edit-post">
  <form>
    <div>
      <label for="title">Title:</label>
      <input type="text" id="title" value="<%= post.title %>" />
    </div>
    <div>
      <label for="post-message">Message:</label>
      <input type="text" id="post-content" value="<%= post.message %>" />
    </div>
    <div>
      <label for="visible">Visible:</label>
      <select id="visible">
        <option value="true">true</option>
        <option value="false">false</option>
      </select>
    </div>
    <button type="button" id="adding-post">Update</button>
  </form>
</div>